<div class="app-login-form">
    <h2>{{ isLoggingMode ? 'Login' : 'Sign Up' }} Here</h2>

    @if (errorMeg) {
        <app-snackbar [errorMeg]="errorMeg"></app-snackbar>
    }
    @if (!ifLoading) {
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class = "form-input">
            <label> Email Address</label>
            <input ngModel type="email" placeholder="Enter your email" required email name="email" >
            @if( loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched) {
            <small class="enter-hint">*Please enter a valid email address.</small>}
        </div>
        <div class = "form-input">
            <label> Password</label>
            <input ngModel type="password" placeholder="Enter your password" required  minlength="8" name="password" >
            @if( loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched) {
            <small class="enter-hint">*Password must be at least 8 characters long.</small>}
        </div>
        <button type="submit" class="login-btn" [disabled]="loginForm.invalid">{{ isLoggingMode ? 'Login' : 'Sign Up' }}</button>
        <p>{{isLoggingMode ? "Don't have an account yet?" : "Already have an account?"}}
            <button class = "app-toggle-btn" type="button" (click)="toggleMode(loginForm)" >
                {{ isLoggingMode ? 'Sign Up' : 'Login' }}
            </button>
        </p>
    </form>
    }
    @else {
        <app-loader></app-loader>
    }
</div>
